

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.home-team {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  font-size: 12px;
}

.away-team {
  text-align: right;
  font-size: 12px;
}
section {
  width: 90%;
  display: flex;
  justify-content: right;
  margin-left: auto;
  margin-right: auto;
  display: grid;
  grid-template-columns: 2fr 2fr;
}

.teams {
  display: flex;
  flex-direction: column;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 10px;
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: left;
  border: 1px solid black;
  margin-right: 10px;
  margin-left: 10px;
}



.nav {
  padding: 30px;
  background-color: red;
  border-bottom: 1px solid black;
}

.nav a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  font-size: 20px;
}

a:hover {
  color: rgb(190, 188, 188);
  transition: 1.1s;
}

.header {
  background-color: red;
  color: white;
  margin: 0;
  padding: 10px;
  padding-bottom: 15px;
  border-bottom: 1px solid black ;
  font-family: cursive;
  font-size: 60px;
}

.image {
  height: 200px;
  width: 300px;
  margin: 30px;
}

.home-images {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
}

.scores {
  padding-bottom: 200px;
}

p {
  font-weight: bold;
  font-size: 18px;
}