.App {
  text-align: center;
  background-color: rgba(26, 26, 26, 0.973);
  color: white;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.home-team {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  font-size: 12px;
}

.away-team {
  text-align: right;
  font-size: 12px;
}
section {
  width: 90%;
  display: flex;
  justify-content: right;
  margin-left: auto;
  margin-right: auto;
  display: grid;
  grid-template-columns: 2fr 2fr;
}

.teams {
  display: flex;
  flex-direction: column;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 10px;
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: left;
  border: 3px solid black;
  margin-right: 10px;
  margin-left: 10px;
}

.nav {
  padding: 30px;
  background-color: rgb(84, 81, 81);
  border-bottom: 1px solid black;
}

.nav a {
  color: #ffff00;
  text-decoration: none;
  font-weight: bold;
  font-size: 15px;
  margin-right: 40px;
}

a:hover {
  color: rgb(190, 188, 188);
  transition: 1.1s;
}

.header {
  background-color: rgb(84, 81, 81);
  color: #ffff00;
  margin: 0;
  padding: 10px;
  padding-bottom: 15px;
  border-bottom: 1px solid black ;
  font-family:monospace;
  font-size: 60px;
}

.title {
  margin-top: 40px;
  font-size: 30px;
  font-family: monospace;
  color: #ffff00;
}

.home-images {
  margin-top: 80px;
}

.image {
  height: 200px;
  width: 300px;
  margin: 30px;
  border-radius: 5%;
}

.footer {
  margin-top: 100px;
}

.logo {
  height: 30px;
  width: 30px;
  margin-left: 25px;
}

.top-img {
  height: 150px;
  width: 150px;
  margin-left: 50px;
  margin-right: 50px;
}

.league {
  margin-top: 30px;
  color: #ffff00;
}

.image-base {
  display: flex;
  align-items: center;
  background-color: rgb(45, 45, 45);
  margin: 20px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 5%;
  width: 80%;
}

.image-foot {
  display: flex;
  align-items: center;
  background-color: rgb(45, 45, 45);
  margin: 20px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: right;
  border-radius: 5%;
  width: 80%;
}

.image-puck {
  display: flex;
  align-items: center;
  background-color: rgb(45, 45, 45);
  margin: 20px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 5%;
  width: 80%;
}

.home-scores {
  text-align: left;
  color: #ffff00;
}